header {
  width: 100%;
  height: 10vh;
  display: flex;
  font-family: Inter, sans-serif;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}

.main-cards {
  min-height: 50vh;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
}

.main-search {
  display: flex;
  flex-direction: row;
  height: 10%;
  margin-top: 20px;
}
.search-input {
  height: 40%;
  width: 70%;
  border: none;
  background-color: #f5f5f5;
}

.search-button {
  height: 40%;
  width: 30%;
  border: none;
  background-color: #2e245e;
  color: #ffffff;
}

.main-details aside {
  width: 100%;
  height: 50%;
}

.cart-title {
  background-color: #37268c;
  color: #ffffff;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-title h4 {
  font-size: 1.2rem;
}
.cart-empty {
  height: 60%;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-empty h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-details {
  height: 25%;
  width: 100%;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 10px 3px 0;
  margin-right: auto;
text-align: right;
justify-content: space-between;
}

.item div{
  display:flex;
  flex-direction: column;
margin-top: 15px;
justify-content: space-between;
font-size: 12px;

}
.removeButton{
  display: flex;
  border: none;
  height: 30px;
  width: 100%;
  vertical-align: top;
  padding: 5px ;
}

.cart-products img {
  display: flex;
  width: 50%;
}

.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  height: 34%;
  flex-direction: row;
  justify-content: space-between;
}

.cardProduct {
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  list-style: none;
  padding: 30px 3px 45px 3px;
  gap: 6px;
  margin: 15px;
  margin-top: 10px;
  width: 22%;
  height: 100%;
  border: solid 2px transparent;
}


.cardProduct img {
  max-width: 100%;
}

.products-list li h2 {
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  margin-right: auto;
  padding: 5px 0 5px;
}

li .tag {
  background-color: #2e245e;
  color: #ffffff;
  font-size: 10px;
  padding: 4px;
  margin-right: 141px;
}

li p {
  font-family: Inter, sans-serif;
  font-size: 12px;
  text-justify: distribute;
  line-height: 19px;
}

.card {
  background-color: #ffffff;
  padding: 4px 3px;
  border-radius: 10px;
}

.description {
  line-height: 20px;
  margin: 5px 0;
  padding: 5px 0 5px;
}

.value {
  font-weight: bold;
  padding: 5px 0 5px;
  margin-bottom: 10px;
  font-size: Inter, sans-serif;
}

.productButton {
  display:flex;
  background-color: transparent;
  border: none;
  margin: 0px 29px 0px;
    align-items: center;
  text-align: center;
}


.cardProduct:hover {
  border: solid 3px rgba(0, 0, 0, 0.75);
}
.productButton:hover {
  text-decoration: underline;
}

cart-empty::content{
  display:none;
}